@import url("colors.css");

* {
    border: none;
    border-radius: 0;
    font-family: "Cid Mono Nerd Font";
    font-size: 15px;
    font-weight: 700; 
    min-height: 0;
    margin-left: 1px;
    margin-right: 1px; 
}

window#waybar {
  border-radius: 0px;
  background: transparent;
  color: @foreground;
}

tooltip {
    background: @background;
    border-radius: 6px;
}

tooltip label {
  color: @foreground;
}

#workspaces {
  background: @background;
  border-radius: 4px;
  margin-top: 3px;
  margin-bottom: 2px;
}

#workspaces button {
    padding: 0px 8px 0px 8px;
    border-radius: 4px;
 	  min-width: 1px;
    margin-left: 0px;
    margin-right: 0px;
    color: alpha(@foreground, 0.3);
    background: transparent;
}

#workspaces button.focused {
    background: transparent;
    border-width: 1px;
    border-color: @foreground;
    border-style: solid; 
    color: @foreground;
}

#workspaces button.urgent {
    color: @color1;
    background: transparent;
}

#workspaces button:hover {
    background: transparent;
    color: alpha(@foreground, 0.7);
    box-shadow: inherit;
    text-shadow: inherit;
}

#tags button {
  background-color: #3c3836;
  border-radius: 4px;
  margin-top: 3px;
  margin-bottom: 2px;
  font-weight: bold;
  padding: 0px;
  margin-right: 3px;
  min-width: 30px;
}

#tags button.occupied {
  background-color: #7c6f64;
  color: #282828
}

#tags button.focused {
  background-color: #ebdbb2;
  color: #282828;
}

#tags button:not(.occupied):not(.focused):not(.overview):not(.urgent) {
  font-size: 0;
  min-width: 0;
  min-height: 0;
  margin: -15px;
  padding: 0;
  color: transparent;
  background-color: transparent;
}

#window,
#custom-media
{
    padding: 0px;
}

#taskbar button {
    background: #3c3836;
    border-radius: 4px;
    color: #ebdbb2;
    padding: 0px 5px;
    border-radius: 4px;
    margin-top: 3px;
    margin-bottom: 2px;
}

#taskbar button.active {
    background: #ebdbb2;
    border-radius: 4px;
    color: #282828;
    padding: 0px 5px;
    border-radius: 4px;
    margin-top: 3px;
    margin-bottom: 2px;
}

#taskbar button.minimized {
    background: #3c3836;
    border-radius: 4px;
    color: #ebdbb2;
    padding: 0px 5px;
    border-radius: 4px;
    margin-top: 3px;
    margin-bottom: 2px;
} 

#custom-menu,
#custom-temp,
#temperature,
#cpu,
#memory,
#clock,
#bluetooth,
#battery,
#pulseaudio,
#network,
#backlight,
#tray,
#window,
#mode,
#scratchpad,
#custom-media
{
    background: @background;
    padding: 0px 10px;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 3px;
    margin-bottom: 2px;
   }

window#waybar.empty #window {
    background: transparent;
}

